.table-container-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    padding: 16px; /* Espaciado general */
  }
  
  .table-container {
    width: 100%;
    max-width: 1200px; /* Tamaño máximo de la tabla */
    margin: 0 auto; /* Centra la tabla dentro del contenedor */
  }
  
.table-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-head {
    background-color: #1976d2;
    color: #ffffff;
  }
  
  .table-head-cell {
    padding: 12px 16px;
    font-weight: bold;
    text-align: left;
  }
  
  .table-row:hover {
    background-color: #f5f5f5;
  }
  
  .table-cell {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .table-container .table-cell {
    vertical-align: middle;
  }
  
  /* Opcional: Agrega un borde inferior al contenedor de la tabla */
  .table-container .MuiPaper-root {
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  
  .registrar-alumno {
    background-color: #3A428D; /* Color del botón */
    margin-top: 20px; /* Espacio entre la tabla y el botón */
   
    color: #ffffff; /* Color del texto del botón */
    width: 200px; /* Ajusta el ancho del botón */
    padding: 8px; /* Ajusta el padding del botón */
    font-size: 14px; /* Tamaño de fuente del botón */
    border-radius: 4px; /* Bordes redondeados */
  }
  .registrar-alumno:hover {
    background-color: #2C3A6B; /* Color más oscuro para el hover */
  }
  