.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0; /* Color de fondo claro */
  }
  
  .homepage-container h1 {
    font-size: 3rem;
    color: #007bff; /* Color azul para el encabezado */
  }
  
  .homepage-container p {
    font-size: 1.2rem;
    margin-top: 10px;
  }