/* Unauthorized.css */
.unauthorized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .unauthorized-container h1 {
    font-size: 2rem;
    color: #d9534f; /* Rojo para indicar error */
  }
  
  .unauthorized-container p {
    margin-bottom: 20px;
  }
  
  .unauthorized-container a {
    color: #007bff;
    text-decoration: none;
  }
  